<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="maxAllowedWeight" value="50"/>
    <add key="maxWeightForVolumeCalculator" value="10"/>
    <add key="minVolumeForMediumParcel" value="1500"/>
    <add key="minVolumeForLargeParcel" value="2500"/>
    <add key="heavyParcelRate" value="15"/>
    <add key="smallParcelRate" value="0.05"/>
    <add key="mediumParcelRate" value="0.04"/>
    <add key="largeParcelRate" value="0.03"/>
  </appSettings>
</configuration>